<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="./assets/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/list.css">
    <script>
        if(window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>
</head>

<body>

    <div class="center-line">
        <div class="search-box">
            <form method="post">
                <button type="submit" class="btn-search"><i class="fas fa-search"></i></button>
                <input type="text" class="input-search" placeholder="Enter name..." name="keywordName">
            </form>
        </div>
    </div>
    <h2>Users list</h2>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Full name</th>
                    <th>Debt</th>
                    <th>Tel</th>
                    <th>Address</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i < dataUser.length; i++) { %>
                    <tr>
                        <td>
                            <%= dataUser[i].id %>
                        </td>
                        <td>
                            <%= dataUser[i].fullName %>
                        </td>
                        <td>
                            <%= dataUser[i].inDebt %>
                        </td>
                        <td>
                            <%= dataUser[i].tel %>
                        </td>
                        <td>
                            <%= dataUser[i].addr %>
                        </td>

                        <td>
                            <div class="center-colum">
                                <a href="/detail/user/<%= dataUser[i].id%>" class="button noselect">
                                    <span class="text">Detail</span>
                                    <span class="icon">
                                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                    </span>
                                </a>
                                <form action="edit-user/<%= dataUser[i].id%>">
                                    <button class="button noselect button--primary" type="submit">
                                        <span class="text">Edit</span>
                                        <span class="icon">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </span>
                                    </button>
                                </form>
                                <form action="delete-user" method="post">

                                    <input type="text" name="id" hidden value="<%= dataUser[i].id%>">
                                    <button class="button noselect button--danger" type="submit">
                                        <span class="text">Delete</span>
                                        <span class="icon">
                                            <i class="fa-solid fa-xmark"></i>
                                        </span>
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>
    <script>
        showAlert = function (err) {
            alert('Server: ' + err);
        };
        var error = "<%= message.mess0 %>";
        if(error !== "") {
            showAlert(error);
        }
    </script>
</body>

</html>