<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="./assets/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/list.css">
</head>

<body>

    <div class="center-line">
        <div class="search-box">
            <form method="post">
                <button type="submit" class="btn-search"><i class="fas fa-search"></i></button>
                <input type="text" class="input-search" placeholder="Enter License..." name="keywordLicense">
            </form>
        </div>
    </div>
    <h2>Vehicles list</h2>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
                <tr>
                    <th>ID(Vehicle)</th>
                    <th>License</th>
                    <th>Type</th>
                    <th>Owner by ID</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i < dataVehicle.length; i++) { %>
                    <tr>
                        <td>
                            <%= dataVehicle[i].idV %>
                        </td>
                        <td>
                            <%= dataVehicle[i].license %>
                        </td>
                        <td>
                            <%= dataVehicle[i].type %>
                        </td>
                        <td>
                            <%= dataVehicle[i].id %>
                        </td>
                        <td>
                            <div class="center-colum">
                                <a href="/detail/vehicle/<%= dataVehicle[i].idV%>" class="button noselect">
                                    <span class="text">Detail</span>
                                    <span class="icon">
                                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                    </span>
                                </a>
                                <form action="edit-vehicle/<%= dataVehicle[i].idV%>">
                                    <button class="button noselect button--primary" type="submit">
                                        <span class="text">Edit</span>
                                        <span class="icon">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </span>
                                    </button>
                                </form>
                                <form action="delete-vehicle" method="post">
                                    <input type="text" name="idV" hidden value="<%= dataVehicle[i].idV%>">
                                    <button class="button noselect button--danger" type="submit">
                                        <span class="text">Delete</span>
                                        <span class="icon">
                                            <i class="fa-solid fa-xmark"></i>
                                        </span>
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>

    <!-- <h2>Responsive Table</h2>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>Header 1</th>
            <th>Header 2</th>
            <th>Header 3</th>
            <th>Header 4</th>
            <th>Header 5</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Content 1</td>
            <td>Content 1</td>
            <td>Content 1</td>
            <td>Content 1</td>
            <td>Content 1</td>
        </tr>
        <tr>
            <td>Content 2</td>
            <td>Content 2</td>
            <td>Content 2</td>
            <td>Content 2</td>
            <td>Content 2</td>
        </tr>
        <tr>
            <td>Content 3</td>
            <td>Content 3</td>
            <td>Content 3</td>
            <td>Content 3</td>
            <td>Content 3</td>
        </tr>
        <tr>
            <td>Content 4</td>
            <td>Content 4</td>
            <td>Content 4</td>
            <td>Content 4</td>
            <td>Content 4</td>
        </tr>
        <tr>
            <td>Content 5</td>
            <td>Content 5</td>
            <td>Content 5</td>
            <td>Content 5</td>
            <td>Content 5</td>
        </tr>
        <tr>
            <td>Content 6</td>
            <td>Content 6</td>
            <td>Content 6</td>
            <td>Content 6</td>
            <td>Content 6</td>
        </tr>
        <tr>
            <td>Content 7</td>
            <td>Content 7</td>
            <td>Content 7</td>
            <td>Content 7</td>
            <td>Content 7</td>
        </tr>
        <tr>
            <td>Content 8</td>
            <td>Content 8</td>
            <td>Content 8</td>
            <td>Content 8</td>
            <td>Content 8</td>
        </tr>
        <tr>
            <td>Content 9</td>
            <td>Content 9</td>
            <td>Content 9</td>
            <td>Content 9</td>
            <td>Content 9</td>
        </tr>
        <tr>
            <td>Content 10</td>
            <td>Content 10</td>
            <td>Content 10</td>
            <td>Content 10</td>
            <td>Content 10</td>
        </tr>
        <tbody>
    </table>
</div> -->
    <script>
        showAlert = function (err) {
            alert('Server: ' + err);
        };
        var error = "<%= message.mess %>";
        if (error !== "") {
            showAlert(error);
        }
    </script>
</body>

</html>