<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail vehicle <%= dataVehicle[0].idV %>
    </title>
</head>

<body>
    <div>ID(vehicle): <%= dataVehicle[0].idV %>
    </div>
    <div>License: <%= dataVehicle[0].license %>
    </div>
    <div>Type: <%= dataVehicle[0].type %>
    </div>
    <div>Owner by ID: <%= dataVehicle[0].id %>
    </div>
</body>

</html>