<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Detail vehicle <%= dataVehicle[0].idV %>
    </title>
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/detail.css">
    <script>
        if(window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>
</head>

<body>
    <div class="mid-screen">
        <div class="center-line">
            <a href="/allVehicle" class="button noselect btn-inverser-effect">
                <span class="text">Back</span>
                <span class="icon">
                    <i class="fa-solid fa-angles-left"></i>
                </span>
            </a>
        </div>
        <div class="detail-table">
            <div class="detail-table__col-title">
                <div class="detail-table__row">
                    ID
                </div>
                <div class="detail-table__row">
                    License
                </div>
                <div class="detail-table__row">
                    Type
                </div>
                <div class="detail-table__row">
                    Owner by ID
                </div>
            </div>
            <div class="detail-table__col-content">
                <div class="detail-table__row">
                    <%= dataVehicle[0].idV %>
                </div>
                <div class="detail-table__row">
                    <%= dataVehicle[0].license %>
                </div>
                <div class="detail-table__row">
                    <%= dataVehicle[0].type %>
                </div>
                <div class="detail-table__row">
                    <%= dataVehicle[0].id %>
                </div>
            </div>
        </div>
    </div>
</body>

</html>