<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail user <%= dataUser[0].id %>
    </title>
</head>

<body>
    <div>ID: <%= dataUser[0].id %>
    </div>
    <div>Full Name: <%= dataUser[0].fullName %>
    </div>
    <div>In debt: <%= dataUser[0].inDebt %>
    </div>
    <div>Tel: <%= dataUser[0].tel %>
    </div>
    <div>Address: <%= dataUser[0].addr %>
    </div>
</body>

</html>